* {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute; */
    height: 70px;
    background: #FFFFFF;
}

.header_menu {
    width: 830px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 14px 0;
    align-items: center;
}

.menu_item {
    list-style-type: none;
}

.menu_logo {
    max-height: 45px;
    margin: 0 40px;
}

.menu_link {
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #868E96;
}

.promo {
    background: url(../img/background-promo.png) top center/cover no-repeat;
    height: 800px;
}

.promo_title {
    max-width: 884px;
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    color: #0A12CA;
    margin-top: 88px;
    text-align: center;
}

.colortext_dark {
    color: #262626;
}

.promo_subtitle {
    max-width: 707px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #666666;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.promo_badges {
    display: flex;
    max-width: 472px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
}

.badge {
    padding: 10px 15px;
    background: #EDEDED;
    border-radius: 5px;
}

.card-img-top {
    max-width: 100px;
}